:root {
  /*цвет основного текста #757575*/
  --primary-text-color: #757575;
  /* вторичный цвет  #212121 */
  --title-text-color: #212121;
  /* акцент #2196F3*/
  --accent-color: #2196f3;
  /* ==== белый цвет ======= */
  --primary-white-color: #ffffff;
}
/* ============ body ========== */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/* =========logo========== */
.logo,
.footer-logo {
  color: #000000;
}
.logo-web {
  color: var(--accent-color);
}
/* ============ site-nav ============ */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
