:root {
  /*цвет основного текста #757575*/
  --primary-text-color: #757575;
  /* вторичный цвет  #212121 */
  --title-text-color: #212121;
  /* акцент #2196F3*/
  --accent-color: #2196f3;
}

/* цвет логотипа #2196F3 и #000000 */

/* белый #ffffff */
/* фон #e5e5e5  и f5f4fa */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.logo {
  color: #000000;
}
.logo-web {
  color: var(--accent-color);
}
/* .list */
ul {
  list-style: none;
}

/* ============ site-nav ============ */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* =========== hero ============== */
.hero-title {
  color: #ffffff;
}
/* =========== section =========== */

.section-title {
  color: var(--title-text-color);
}
