body {
  background-color: #ffffff;
  color: #757575;
}

.logo {
  color: #000000;
}
.logo-web {
  color: #2196f3;
}
/* .list */
ul {
  list-style: none;
}
/*цвет основного текста #212121*/
/* вторичный цвет #757575  */
/* цвет логотипа #2196F3 и #000000 */
/* акцент #2196F3*/
/* белый #ffffff */
/* фон #e5e5e5  и f5f4fa */

/* ============ site-nav ============ */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* =========== hero ============== */
.hero-title {
  color: #ffffff;
}
/* =========== section =========== */

.section-title {
  color: #212121;
}
